{% extends 'layouts/main.html' %}

{% load static %}

{% block tittle %}Echo{% endblock %}
{% block icon %}{% static 'icons/Echoicon.svg' %}{% endblock %}

{% block content %}

<style>
    code {
        color: salmon;
    }
</style>

{% if user.is_authenticated %}

    {% include 'components/loggedinnav.html' %}

<hr>

{% endif %}

<div class="container">

    {% if not user.is_authenticated %}

        {% include 'components/notloggedinnav.html' %}
    
    <hr>

    {% endif %}

    <div class="container border p-4">
        <h3>¿Quieres utilizar Echo a modo de prueba?</h3>
        <br>

        <h4>Puedes usar cualquiera de las siguientes cuentas (Usuario / Contraseña):</h4>
        <hr>
        <ul>
            <li>Mico | AWESOME2.E!</li>
            <li>Cordelius | AWESOME2.E!</li>
            <li>Crow | AWESOME2.E!</li>
            <li>Spike | AWESOME2.E!</li>
            <li>Chester | AWESOME2.E!</li>
        </ul>
        <p>La contraseña de las salas creadas por el usuario EchoBot es: ATP2.0E</p>
    </div>

    <br>

    <div class="container border p-4">
        <h3>Acerca de:</h3>
        <br>
        <p>Esta aplicación ha sido desarrollada por Carlos Adrián E. Luna (DTCarlox77), tomando como base las ideas de las aplicaciones web de Flack (Project 2 Old CS50W) y Educhat (Personal Final Project CS50X).</p>

        <br>
        {% include 'components/main_update.html' %}
    </div>
    <br>
    <div class="container border p-4">
        <h3>Markdown Regular</h3>
        <hr>
        <p>Esta herramienta convierte expresiones Markdown a su equivalente en HTML, permitiendo establecer propiedades como tamaño, color, fondo y fuente en etiquetas de texto.</p>
        <br>
        <h3 id="etiq">Etiquetas</h3>
        <hr>
        <p>Puedes utilizar todas las etiquetas de HTML para personalizar tus textos.</p>
        <h4>Sintaxis de las etiquetas</h4>
        <p>Las etiquetas se delimitan con el uso de paréntesis. Antes de nombrar una etiqueta, es necesario utilizar el comando /rmd.</p>
        <p>Para llamar a una etiqueta, primero abrir y cerrar paréntesis '()', luego colocar un par de corchetes al final '[]', entre estos estarán ubicadas las <a href="#props">propiedades</a>. Aunque no se establezcan propiedades, siempre es necesario colocar dichos corchetes. Dentro de los paréntesis se pueden agregar la cantidad de etiquetas deseadas, sin embargo, estas etiquetas heredarán siempre el estilo asignado en las propiedades.</p>
        <code>(etiqueta1(contenido) etiqueta2(contenido))[]</code>
        <br>
        <br>
        <div class="container border p-4">
            <h4>Ejemplos de uso</h4>
            <hr>
            <p>Si se desea mostrar un texto similar al siguiente dentro del chat:</p>
            <h1>Hello Echo</h1>
            <p>Puede hacerlo de la siguiente manera:</p>
            <code>
                /rmd (h1(Hello Echo))[]
            </code>
            <p>Si se desea mostrar una lista similar al siguiente dentro del chat:</p>
            <ul>
                <li>Elemento 1</li>
                <li>Elemento 2</li>
                <li>Elemento 3</li>
            </ul>
            <p>Puede hacerlo de la siguiente manera:</p>
            <code>
                /rmd (ul(li(Elemento 1) li(Elemento 2) li(Elemento 3)))[]
            </code>
            <br>
            <br>
            <p>Puedes investigar más información acerca de las etiquetas HTML en la <a href="https://lenguajehtml.com/html/">documentación oficial.</a></p>
        
        </div>
        <br>
        <h3 id="props">Propiedades</h3>
        <hr>
        <p>Actualmente, esta sintaxis permite el uso de cuatro propiedades para dar estilo a tus mensajes. Estas son:</p>
        <ul>
            <li>col: Recibe un color directamente por su nombre en inglés (red, green, blue...), rgb, hexadecimal y rgba no están disponibles actualmente.</li>
            <li>bgc: Al igual que la propiedad anterior, establece un color, solo que este será para el fondo del texto (resaltado en otras palabras).</li>
            <li>siz: Siz establecerá un tamaño en unidades de píxeles a tu texto. Deberás ingresar un número entero.</li>
            <li>fon: Establecerá la tipografía en la que quieras que se muestre tu texto. La correcta renderización dependerá de tu navegador.</li>
        </ul>
        <p>Cada etiqueta podrá utilizar como máximo una propiedad diferente. En otras palabras, no puedes agregar dos veces la propiedad col en un texto.</p>
        <h4>Sintaxis de las propiedades</h4>
        <p>Las propiedades siempre estarán ubicadas en el interior de dos corchetes, a la par del paréntesis (representantes de <a href="#etiq">etiquetas</a>) con el que se cierra una etiqueta:</p>
        <code>(etiqueta(contenido))[col='color de preferencia', bgc='color de preferencia', siz='tamaño de preferencia', fon='fuente de preferencia']</code>
        <br>
        <br>
        
        <div class="container border p-4">
            <h4>Ejemplos de uso</h4>
            <hr>
            <p>Si se desea mostrar un texto similar al siguiente dentro del chat:</p>
            <h1 style="color: indigo; font-size: 30px">Hello Echo</h1>
            <p>Puede hacerlo de la siguiente manera:</p>
            <code>
                /rmd (h1(Hello Echo))[col=indigo, siz=30]
            </code>
            <br>
            <p>Si se desea mostrar un texto similar al siguiente dentro del chat:</p>
            <p style="background-color: lightgreen; font-family: sans-serif;">Esto es un texto resaltado</p>
            <p>Puede hacerlo de la siguiente manera:</p>
            <code>
                /rmd (p(Esto es un texto resaltado))[col=lightgreen, fon=sans-serif]
            </code>
        </div>
    </div>

    <br>
    <h3>Tecnologías utilizadas:</h3>
    <br>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://cdn-images.threadless.com/threadless-media/artist_shops/shops/django/products/220963/original-1582297809-33f3e434bab7633744d99012eec6986d.jpg?v=3&d=eyJvcHMiOiBbWyJ0cmltIiwgW2ZhbHNlLCBmYWxzZV0sIHt9XSwgWyJyZXNpemUiLCBbXSwgeyJ3aWR0aCI6IDk5Ni4wLCAiYWxsb3dfdXAiOiBmYWxzZSwgImhlaWdodCI6IDk5Ni4wfV0sIFsiY2FudmFzX2NlbnRlcmVkIiwgWzEyMDAsIDEyMDBdLCB7ImJhY2tncm91bmQiOiAiMGM0YjMzIn1dLCBbInJlc2l6ZSIsIFs4MDBdLCB7fV0sIFsiY2FudmFzX2NlbnRlcmVkIiwgWzgwMCwgODAwLCAiI2ZmZmZmZiJdLCB7fV0sIFsiZW5jb2RlIiwgWyJqcGciLCA4NV0sIHt9XV0sICJmb3JjZSI6IGZhbHNlLCAib25seV9tZXRhIjogZmFsc2V9" alt="Canal Personalizado" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Django</h2>
                    <hr>
                    <p>Backend de la aplicación.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://brandslogos.com/wp-content/uploads/images/large/python-logo.png" alt="Comparte Multimedia" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Python</h2>
                    <hr>
                    <p>Control de Django, Channels y la base de datos.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://images.ctfassets.net/ee3ypdtck0rk/55TQmw4LAUbzQuWDDUSSr8/33178c17500e05c0151537603fc531fc/channel-layers-ni-django.jpeg?w=500&h=500&fl=progressive&q=50&fm=jpg" alt="Comparte Multimedia" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Channels</h2>
                    <hr>
                    <p>Genera al websocket de la aplicación.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png" alt="Comparte Multimedia" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>JavaScript</h2>
                    <hr>
                    <p>Controla los eventos desde el Frontend.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://static-00.iconduck.com/assets.00/jquery-icon-505x512-u4lk43ex.png" alt="Canal Personalizado" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Ajax - Jquery</h2>
                    <hr>
                    <p>Controla los eventos asíncronos desde el Frontend.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://mirayhazlo.com/wp-content/uploads/2018/09/Html5_dise%C3%B1o_web-1.png" alt="Comparte Multimedia" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>HTML</h2>
                    <hr>
                    <p>Creación de las plantillas.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png" alt="Comparte Multimedia" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>CSS</h2>
                    <hr>
                    <p>Estilos personalizados en las plantillas HTML.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature">
                    <img src="https://academianumen.com.ar/wp-content/uploads/2024/01/bootstrap-stack.png" alt="Comparte Multimedia" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Boostrap</h2>
                    <hr>
                    <p>Íconos y estilos para la interfaz.</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container border p-4">
        
        <h4>¿Por qué Echo?</h4>
        <hr>
        <p>El nombre 'Echo' ha sido elegido para reflejar la esencia de la aplicación. Al igual que un eco que resuena y se propaga, Echo representa la idea de que cada interacción, cada conexión y cada contribución en la plataforma resuena y se refleja en la red social.</p>

        <br>
        <h4>Comandos de la aplicación</h4>
        <hr>
        <p>Echo permite la utilización de comandos en las salas de chat, para que se ejecuten de forma correcta estos deberán ir posisionados al inicio de tu mensaje.</p>
        <ul>
            <li>/eb - Utiliza la inteligencia artificial integrada. Esta toma la información de la API de <a href="https://openai.com/">OpenAI</a>.</li>
            <li>/md - Envía mensajes en formato de Markdown.</li>
            <li>/rmd - Envía mensajes con estilos CSS en etiquetas HTML dentro de los contenedores Markdown.</li>
        </ul>

        <br>
        <h4>Mensajes en la sala</h4>
        <hr>
        <p>Cada sala tiene una capacidad máxima de 30 mensajes. Una vez que se alcanza este límite, cualquier mensaje adicional será eliminado de manera permanente para mantener la cantidad de mensajes en la sala dentro del límite establecido.</p>
    </div>
    <br>
    {% include 'components/update_logs.html' %}
    <br>
    <br>
</div>

{% include 'components/footer.html' %}

{% endblock %}