{% extends 'layouts/main.html' %}

{% block tittle %}{% if editar %}Edición de sala{% else %}Información de sala{% endif %}{% endblock %}
{% load static %}

{% block icon %}{% if editar %}{% static 'icons/Edit.svg' %}{% else %}{% static 'icons/Room.svg' %}{% endif %}{% endblock %}

{% block content %}

<div class="navbar mt-2">
    <div class="container d-flex">
        <h1 class="col-4 m-2">{% if editar %}Configuración{% else %}Información{% endif %}</h1>
        <div class="d-flex nav-items">
            <a href="{% url 'room' id=room.id %}"><h4 class="m-2">Volver</h4></a>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <img class="image-edit" src="{{ room.imagen }}" alt="">
</div>
<br>
<div class="container">
    <br>
    {% if message %}
        <div class="alert alert-danger">
            <h5>{{ message }}</h5>
        </div>
    {% endif %}
    <h1>{{ room.nombre }}</h1>

    {% if not room.password and editar %}
        <div class="alert alert-warning">
            <h4>Esta sala es de acceso público</h4>
            <p>Tenga en cuenta que cualquier persona será capaz de ingresar, enviar mensajes y leer los mensajes enviados con anterioridad.</p>
        </div>
    {% endif %}

    {% if editar %}
        <form action="{% url 'edit' id=room.id %}" method="post">
            {% csrf_token %}
            <br>
            <h5>URL de imagen</h5>
            <br>
            <input type="text" class="col-8 form-control" placeholder="URL de imagen" name="imagen" value="{{ room.imagen }}">
            <br>
            <h5>Descripción</h5>
            <br>
            <textarea class="form-control" name="descripcion" id="" style="resize: none; height: 200px" placeholder="Descripción de la sala (Opcional)">{{ room.descripcion }}</textarea>
            <br>
            <h5>Clave de acceso</h5>
            <br>
            <input type="text" class="col-8 form-control" placeholder="Código de sala" name="password" value="{% if room.password %}{{ room.password }}{% endif %}">
            <br>
            <div class="">

                <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Borrar sala
                </button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmación</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro que desea eliminar la sala "{{ room.nombre }}"? Esta acción es totalmente IRREVERSIBLE, todos los mensajes y el contenido presente será eliminado.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                <a href="{% url 'remove' id=room.id %}"><button type="button" class="btn btn-danger">Borrar sala</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
    <br>
        <p>Creada por: {{ room.creador }}</p>
        <h4>Descripción</h4>
        <p>{{ room.descripcion }}</p>

        <a href="{% url 'deluser' room_id=room.id user_id=user.id %}"><button class="btn btn-outline-danger">Salir de la sala</button></a>
    {% endif %}
</div>

<br>
<hr>

<div class="container mt-4 d-flex">
    <div class="col-9">
        <h1>Usuarios en la sala</h1>
    </div>
</div>
<hr>
{% if editar and not room.password %}
<div class="container">
    <div class="alert alert-danger">
        <h4>A tomar en cuenta</h4>
        <p>No podrás expulsar usuarios mientras tu sala esté sin contraseña.</p>
    </div>
</div>
{% endif %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><h5>Nombre de usuario</h5></th>
                {% if editar %}
                <th scope="col"><h5>Acción</h5></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for username in users %}

                <tr>
                    <td><a style="color: black;" href="{% url 'profile' id=username.id %}">{{ username }}</a></td>
                    {% if not room.creador == username and editar and not room.password. %}
                        <td><a href="{% url 'deluser' room_id=room.id user_id=username.id %}"><button class="btn btn-outline-danger">Expulsar</button></a></td>
                    {% endif %}
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}