{% extends 'layouts/main.html' %}

{% load static %}

{% block tittle %}Echo{% endblock %}
{% block icon %}{% static 'icons/Echoicon.svg' %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% include 'components/loggedinnav.html' %}

<hr>

{% endif %}

<div class="container">
    
    {% if not user.is_authenticated %}

    {% include 'components/notloggedinnav.html' %}
    
    <hr>

    {% endif %}

    <div class="container EchoContainer">
        <img id="ELight" class="EchoLogo" src="{% static 'icons/EchoLogo.svg' %}" alt="">
        <img id="Edark" class="EchoLogo" src="{% static 'icons/EchoDark.svg' %}" alt="">
    </div>
    <div class="container text-center my-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <h1 class="display-4">Bienvenido a Echo</h1>
                <p class="lead">Aplicación para la creación de salas de chat y comunicación en tiempo real.</p>
                {% if not user.is_authenticated %}
                    <a class="btn btn-outline-primary btn-lg" href="register" role="button">Regístrate</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="feature">
                    <img src="{% static 'images/1.png' %}" alt="Canal Personalizado" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Canal Personalizado</h2>
                    <br>
                    <p>Crea canales públicos o privados según tus necesidades y preferencias.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <img src="{% static 'images/2.png' %}" alt="Comparte Multimedia" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Comparte Multimedia</h2>
                    <hr>
                    <p>Interactúa con amigos compartiendo fotos, videos y más en tiempo real.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <img src="{% static 'images/3.png' %}" alt="Conexiones Significativas" class="m-2 img-fluid rounded-circle">
                    <br>
                    <h2>Conexiones Significativas</h2>
                    <br>
                    <p>Experimenta una red social diseñada para construir relaciones significativas y auténticas.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

{% include 'components/footer.html' %}

{% endblock %}