{% extends 'layouts/main.html' %}

{% block tittle %}{{ room.nombre }}{% endblock %}
{% load static %}

{% block icon %}{% static 'icons/Room.svg' %}{% endblock %}

{% block content %}

<div class="navbar mt-0">
    <div class="d-flex nav-items center main-nav-container">
        <a class="nombre" href="{% url 'edit' id=room.id %}"><h2 class="">{{ room.nombre | slice:":15" }}</h2></a>
        <a href="{% url 'rooms' %}"><h4 class="">Volver</h4></a>
    </div>
</div>

<hr>

<div class="fondo m-0 p-0">
    <div class="container cuerpo" id="ventana">
    </div>
</div>

<div class="container d-flex fixed-bottom mb-4 entradas-sala">
    <textarea style="resize: none;" rows="1" class="form-control m-1" id="mensaje" placeholder="Escribe tu mensaje"></textarea>
    <button style="display: flex; justify-content: space-around; align-items: center; gap:3px;" type="button" id="enviarmensaje" class="btn btn-light"><i class="bi bi-send-fill"></i> Enviar</button>
    <button style="display: flex; justify-content: space-around; align-items: center; gap:3px;" type="button" id="multimedia" class="btn btn-light"><i class="bi bi-folder-fill"></i> Archivo</button>
</div>

<form enctype="multipart/form-data" style="display:none;">
    <input type="file" id="file" style="display:none;" />
</form>

<h1 id="nombre_usuario" style="display: none;">{{ user.username }}</h1>

<script src="{% static 'javascript/socket.js' %}"></script>
{% endblock %}