{% extends 'layouts/main.html' %}

{% block tittle %}Salas{% endblock %}
{% load static %}

{% block icon %}{% static 'icons/Rooms.svg' %}{% endblock %}

{% block content %}

<style>
    body {
        overflow-x: hidden;
    }
</style>

<div class="navbar mt-2">
    <div class="container d-flex">
        <div class="d-flex">
            <h1 class="m-2"><a style="color: black;" href="{% url 'profile' id=user.id %}"><i class="bi bi-person-fill"></i></a></h1>
            <a style="color: black;" href="{% url 'main' %}"><h1 class="col-4 m-2">Echo</h1></a>
        </div>
        <div class="d-flex nav-items">
            <a href="{% url 'create' %}"><h4 class="m-2">Crear</h4></a>
            <a href="{% url 'rooms' %}"><h4 class="m-2">Salas</h4></a>
            <a href="{% url 'myrooms' %}"><h4 class="m-2">Pertenecientes</h4></a>
            <a href="{% url 'logout' %}"><h4 class="m-2">Salir</h4></a>
        </div>
    </div>
</div>

<hr>

{% if rooms %}
    <div class="container d-flex" style="gap: 5px;">
        <input type="text" id="busqueda" class="form-control" placeholder="Ingresa el nombre de la sala que buscas" aria-label="Example text with button addon" aria-describedby="button-addon1">
        {% if public %}
        <button class="btn btn-outline-primary" type="button" id="btn-search">Buscar</button>
        <button class="btn btn-outline-primary" type="button" id="btn-cancel" style="display: none;">Cancelar</button>
        {% endif %}
    </div>
{% endif %}

<hr>
<div class="container principal" id="contenedor_salas">
    {% if rooms %}

        {% if public %}

            {% for room in rooms %}

                <div class="sala border rounded r-4 m-1 p-1 d-flex">
                    <div class="container conimagecon mt-3">
                        <img class="room_img" src="{{ room.imagen }}" alt="">
                    </div>
                    <div class="container contextto">
                        <br>
                        <h3>{{ room.nombre }}</h3>
                        <h6 style="color: green;">{% if not room.password %}Sala pública{% endif %}</h6>
                        <p>Creada por: {{ room.creador }} | {{ room.fecha }} </p>
                        <button style="max-width: 150px; display:flex; justify-content:center;" type="button" class="btn btn-dark"><a style="color: white;" class="m-0 p-1" href="{% url 'room' id=room.id %}">Ingresar</a></button>
                        <br>
                    </div>
                </div>

            {% endfor %}

        {% else %}

            {% for room in rooms %}

                <div class="sala border rounded r-4 m-1 p-1 d-flex">
                    <div class="container conimagecon mt-3">
                        <img class="room_img" src="{{ room.sala.imagen }}" alt="">
                    </div>
                    <div class="container contextto">
                        <br>
                        <h3>{{ room.sala.nombre }}</h3>
                        <h6 style="color: green;">{% if not room.sala.password %}Sala pública{% endif %}</h6>
                        <p>Creada por: {{ room.sala.creador }}</p>
                        <button style="max-width: 150px; display:flex; justify-content:center;" type="button" class="btn btn-dark"><a style="color: white;" class="m-0 p-1" href="{% url 'room' id=room.sala.id %}">Ingresar</a></button>
                        <br>
                    </div>
                </div>
                
            {% endfor %}
        
        <br>

        {% endif %}
    
    {% else %}

    <div class="border rounded m-2 p-4 d-flex">
        <div class="container">
            <h3>No hay salas disponibles</h3>
            <br>
            <p>Puedes animarte a crear una en la pestaña de "Crear".</p>
        </div>
    </div>
    <br>

    {% endif %}
</div>

{% if public %}
    <div id="not-found" class="container" style="display: none;">
        <div class="border rounded m-2 p-4 d-flex" style="display: none;">
            <div class="container">
                <h3>No se encontraron salas</h3>
                <br>
                <p>Verifica que el nombre introducido en la búsqueda esté correctamete escrito.</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    {% if rooms %}
        <div class="container">
            <div class="navbar">
                <button class="btn btn-light" id="cargar-mas-btn" style="width: 100%;">Cargar más</button>
            </div>

            <div id="load-rooms" class="alert alert-warning center" style="display: none;">
                <div class="navbar" style="display: flex; justify-content: center; width: 100%">
                    <p class="m-0">Cargando salas</p>
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}

<div class="alert alert-primary m-3">
    <p>Has iniciado sesión con el perfil de:</p>
    <h5 class="m-0">{{ user.username }}</h5>
    <br>
</div>
<div class="container m-1">
    <a style="color: black;" href="{% url 'about' %}"><h6>Echo - Versión 1.6</h6></a>
    <p>Desarrolada por DTCarlox77</p>
</div>

{% if public %}
    <script src="{% static 'javascript/load.js' %}"></script>
{% else %}
    <script src="{% static 'javascript/options.js' %}"></script>
{% endif %}

{% endblock %}