{% extends 'layouts/main.html' %}

{% block tittle %}Unirse a sala{% endblock %}

{% block content %}

<div class="navbar mt-2">
    <div class="container d-flex">
        <h1 class="col-4 m-2">Acceso</h1>
        <div class="d-flex nav-items">
            <a href="{% url 'rooms' %}"><h4 class="m-2">Regresar</h4></a>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <br>
    <div class="container">
        <img class="image" src="{{ room_select.imagen }}" alt="">
    </div>
    <br>
    {% if message %}
        <div class="alert alert-danger">
            <h4>{{ message }}</h4>
        </div>
    {% endif %}
    <br>
    <form action="{% url 'union' id=room_select.id %}" method="post">
        {% csrf_token %}
        <h3>Solicitando unión a {{ room_select.nombre }}</h3>
        <p>Para obtener la contraseña de acceso consulte al creador de la sala.</p>
        <div class="container d-flex p-0">
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        <br>

    </form>
</div>

{% endblock %}