{% extends 'layouts/main.html' %}

{% load static %}

{% block tittle %}Inicio de sesión{% endblock %}
{% block icon %}{% static 'icons/Registration.svg' %}{% endblock %}

{% block content %}

<div class="container">

    <div class="navbar mt-2">
        <div class="navbar">
            <div class="d-flex nav-items">
                <a href="{% url 'create' %}"><h4 class="m-2">Echo</h4></a>
                <a href="{% url 'rooms' %}"><h4 class="m-2">Iniciar sesión</h4></a>
                <a href="{% url 'myrooms' %}"><h4 class="m-2">Registro</h4></a>
                <a href="{% url 'myrooms' %}"><h4 class="m-2">Acerca de</h4></a>
            </div>
        </div>
    </div>
    <hr>

    <div class="container navbar barra mt-4">
        <h1>Inicio de sesión</h1>
    </div>
    
    <hr>
    <div class="container border p-4 rounded">
        {% if message %}
            <div class="alert alert-danger">
                <h4>Error</h4>
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <br>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="" class="form-control" placeholder="Nombre de usuario">
            <br>
            <input type="password" name="password" class="form-control" placeholder="Contraseña">
            <br>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            <br>
            <br>
        </form>
        <a href="{% url 'register' %}">¿No tienes una cuenta?</a>
    </div>
</div>

{% endblock %}