{% extends 'layouts/main.html' %}

{% load static %}

{% block tittle %}Registro{% endblock %}

{% block content %}

<div class="container navbar barra mt-4">
    <h1>Registro</h1>
</div>
<hr>
<div class="container border p-4 rounded">
    {% if message %}
        <div class="alert alert-danger">
            <h4>{{ message }}</h4>
        </div>
    {% endif %}
    <br>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="" class="form-control" placeholder="Nombre de usuario">
        <br>
        <input type="password" name="password" class="form-control" placeholder="Contraseña">
        <br>
        <button type="submit" class="btn btn-primary"><h5>Crear cuenta</h5></button>
    </form>
    <br>
    <br>
    <a href="{% url 'login' %}">¿Ya tienes una cuenta?</a>

</div>

{% endblock %}