<h4>Versión 1.9</h4>
<hr>
<h5>Novedades:</h5>
<ul>
    <li>Introducción de una nueva sintaxis de Markdown (HTML) basada en expresiones regulares.</li>
    <li>(PC) Ahora puedes utilizar las teclas de flecha arriba o abajo para acceder rápidamente a los comandos.</li>
    <li>Nuevos códigos de sala permiten la repetición de nombres de sala.</li>
    <li>Agregado campo de correo electrónico en la información del perfil.</li>
    <li>Añadida la funcionalidad de cambiar el nombre de tus salas.</li>
</ul>
<h5>Errores corregidos:</h5>
<ul>
    <li>Los nombres largos en los archivos ya no causarán desbordamiento en las salas de chat.</li>
    <li>El modo oscuro ahora se aplicará correctamente a los botones de envío de archivos.</li>
</ul>
<br>