<h4>Versión 1.7</h4>
<hr>
<h5>Novedades:</h5>
<ul>
    <li>Optimización del rendimiento de la aplicación para una experiencia más fluida.</li>
</ul>
<h5>Errores corregidos:</h5>
<ul>
    <li>Se ha corregido la posibilidad de inyección de scripts a través del formato de mensaje Markdown.</li>
    <li>El botón "Cargar más salas" ahora solo aparecerá si hay más de 5 salas disponibles.</li>
    <li>El formato Markdown ya no causará desbordamiento en la pantalla de chats, ahora cuenta con su propio scroll.</li>
    <li>El área de texto ya no ocultará el contenido de la sala en dispositivos pequeños.</li>
    <li>Se solucionó el problema que impedía el reenvío de un mismo archivo.</li>
    <li>Se ha establecido un límite para el envío de un archivo a la vez, evitando conflictos de respuesta al enviar múltiples archivos simultáneamente.</li>
</ul>
