{% for room in rooms %}
    <div class="sala border rounded r-4 m-1 p-1 d-flex">
        <div class="container conimagecon mt-3">
            <img class="room_img" src="{{ room.imagen }}" alt="">
        </div>
        <div class="container contextto">
            <br>
            <h3>{{ room.nombre }}</h3>
            <h6 style="color: green;">{% if not room.password %}Sala pública{% endif %}</h6>
            <p>Creada por: {{ room.creador }} | {{ room.fecha }} </p>
            <button style="max-width: 150px; display:flex; justify-content:center;" type="button" class="btn btn-dark">
                <a class="m-0 p-1 etiqueta-white" href="{% url 'room' id=room.id %}">Ingresar</a>
            </button>
            <br>
        </div>
    </div>
{% endfor %}
